.html {
	font-size: 62.5%;
}
/*Header*/
body {
    background-color: #E2ACD0;
}

ul {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*Index Main*/
main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    display: inline-block;
    position: relative;
    padding: 10px;
    text-decoration: none;
}

.logo {
    width: 160px;
    position: relative;
    left: 45%
}

.imagen1 {
    width: 500px;
    height: 480px;
    position: relative;
    left: 200px
    
}

.imagen2 {
    size: 100%;
    position: relative;
    left: 400px;
}

.opacidad {
    opacity: 80%;
}

h1 {
    left: 250px;
    position: absolute;
    top: 250px;
    z-index: 10;
    font-size: 50px;
    color: palevioletred;
}

.subtituloImagen1 {
    left: 250px;
    position: absolute;
    top: 350px;
    z-index: 10;
}
.subtituloImagen2 {
    left: 950px;
    position: absolute;
    top: 600px;
    z-index: 10;
    color: palevioletred;
}

.someText {
    left: 950px;
    position: absolute;
    top: 660px;
    z-index: 10;
}

.centrar {
    text-align: center;
}

.margen {
    margin: 40px;
}

/*Form Contacto*/
.form {
    font-size: 20px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.margenContacto {
    margin: 20px;
}

.googleMaps {
    position: relative;
    left: 600px;
    bottom: 320px;
}

/*Main catalogo*/
.Producto1 {
    width: 300px;
    height: 300px;
    position: relative;
    left: 100px;
}

.Producto2 {
    width: 300px;
    height: 300px;
    position: relative;
    left: 200px;
}

.Producto3 {
    width: 300px;
    height: 300px;
    position: relative;
    left: 300px;
}

/*Main Blog*/
.Articulo1 {
    width: 450px;
    height: 300px;
    position: relative;
    left: 150px;
}

.Articulo2 {
    width: 450px;
    height: 300px;
    position: relative;
    left: 250px;
}

.textoArticulo1 {
    text-align: left;
}