.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 500px;
  justify-items: center;
  align-items: center;
  grid-row-gap: 10px; }

main {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.size {
  font-size: 12pt; }

.img-container {
  position: relative; }

.imagen1 {
  height: 450px; }

.imagen2 {
  height: 450px; }

.opacidad {
  opacity: 80%; }

/*.titleImage1 {
    position: absolute;
    margin: 10px;
    z-index: 10;
    font-size: 25px;
    color: white;
}

.subtitleImage1 {
    position: absolute;
    margin: 10px;
    top: 50px;
    z-index: 10;
    font-size: 15px;
    color: white;
}*/
.titleImage2 {
  position: absolute;
  bottom: 20px;
  margin: 10px;
  z-index: 10;
  color: #E49BC4;
  font-size: 25px; }

.someText {
  position: absolute;
  bottom: 0;
  margin: 10px;
  z-index: 10;
  font-size: 15px;
  color: white; }

.centrar {
  text-align: center; }

.subtitle3 {
  color: white;
  font-size: 30px;
  margin: 40px; }

.p1 {
  color: white;
  font-size: 15px;
  margin: 40px; }

.searchButton {
  color: white;
  border-color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.form {
  font-size: 20px;
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.margenContacto {
  margin: 20px; }

.googleMaps {
  position: relative;
  left: 600px;
  bottom: 320px; }

html {
  font-size: 62.5%; }

body {
  background: #E49BC4; }

.animate__animated.animate__fadeIn {
  --animate-duration: 4s; }

ul {
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

li {
  display: inline-block;
  position: relative;
  padding: 10px;
  text-decoration: none; }

.logo {
  width: 160px;
  position: relative;
  left: 45%; }
