main {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.img-container {
  position: relative; }
  .img-container .titleImage2, .img-container .someText {
    position: absolute;
    margin: 10px;
    z-index: 10;
    color: #E49BC4;
    bottom: 20px;
    font-size: 25px; }
  .img-container .someText {
    bottom: 0;
    font-size: 15px;
    color: white; }

.image {
  width: 100%;
  object-fit: cover;
  height: 450px; }

.opacity {
  opacity: 80%; }

.subtitle1 {
  color: white;
  font-size: 30px;
  margin: 40px; }

.p1 {
  color: white;
  font-size: 15px;
  margin: 40px; }

.searchContainer {
  display: flex; }
  .searchContainer .searchButton {
    color: white;
    border-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

@media screen and (max-width: 768px) {
  .image {
    height: 300px; } }

@media screen and (max-width: 320px) {
  .image {
    height: 200px;
    padding: 3px 0; }
  .someText {
    font-size: 13px; }
  .navbar {
    justify-content: center;
    display: grid; } }

.form {
  font-size: 20px;
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.contactInput {
  margin: 20px;
  size: 20px; }

.googleMaps {
  position: relative;
  left: 600px;
  bottom: 320px;
  object-fit: cover; }

.transition2 {
  height: 450px;
  transition: height 2s, width 1s; }

.transition2:hover {
  width: 500px;
  height: 500px; }

.productImage {
  width: 400px;
  height: 400px;
  position: relative;
  object-fit: cover; }

.imageCatalog {
  display: flex; }

@media screen and (max-width: 768px) {
  .productImage {
    height: 300px;
    width: 300px; } }

@media screen and (max-width: 320px) {
  .productImage {
    width: 300px;
    height: 300px; } }

.transition1 {
  height: 500px;
  transition: height 2s, width 1s; }

.transition1:hover {
  height: 500px; }

.article {
  height: 450px;
  position: relative;
  object-fit: cover;
  padding: 40px; }

.imageArticle {
  display: flex; }

html {
  font-size: 62.5%; }

body {
  background: #E49BC4; }

ol, ul {
  padding-left: 0; }

.size {
  font-size: 15px; }

.centerText {
  text-align: center; }

.animate__animated.animate__fadeIn {
  --animate-duration: 4s; }

ul {
  list-style: none;
  font-weight: bold;
  text-align: left;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

li {
  display: inline-block;
  position: relative;
  padding: 10px;
  text-decoration: none; }

.logoContainer {
  display: flex;
  justify-content: center; }

.logo {
  width: 160px;
  position: relative; }

@media screen and (max-width: 320px) {
  ul {
    list-style: none; }
  li {
    display: block;
    position: relative; } }
