.transition1 {
    height: 500px;
    transition: height 2s, width 1s;
}

.transition1:hover {
    height: 500px;
    }

.article {
    @include height (450px);
    width: 100%;
    position: relative;
    object-fit: cover;
    padding: 20px;
}

.articleText {
    @extend .article;
    height: 0px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.imageArticle {
    display:flex;
}

@media screen and (max-width:768px) {
    .article {
        @include height(300px);
    }
    .articleText {
        height: 20px;
        font-size: map-get($fontSizes, 20px);
    }
}

@media screen and (max-width:320px) {
    .article {
        height: 220px;
        padding: 20px;
    }
    .imageArticle {
        display: contents;
    }
    .articleText {
        height: 20px;
        font-size: map-get($fontSizes, 20px);
    }
}