.transition1 {
    height: 500px;
    transition: height 2s, width 1s;
}

.transition1:hover {
    height: 500px;
    }

.article {
    @include height (450px);
    position: relative;
    object-fit: cover;
    padding: 40px;
}

.imageArticle {
    display:flex;
}