.transition2 {
    height: 450px;
    transition: height 2s, width 1s;
}

.transition2:hover {
    width: 500px;
    height: 500px;
    }

.productImage {
    width: 450px;
    @include height (400px);
    position: relative;
    object-fit: cover;
}

.imageCatalog {
    display:flex;
}

@media screen and (max-width:768px) {
    .productImage {
        width: 250px;
        @include height(300px);
    }
}

@media screen and (max-width:425px) {
    .productImage {
        width: 300px;
        @include height(300px);
    }
    .imageCatalog {
        display:contents;
    }
}