.form {
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
}

.center {
    display: flex;
    justify-content: center;
    .contactInput {
        width: 500px;
        margin: 20px;
        size: 20px;
    }
    .contactButton {
    @extend .contactInput;
    width: 200px;
    border-width: 2px;
    border-color: white;
    color: white;
    font-weight: bold;
    background-color:#E49BC4;
    }
}

.paddingMaps {
    padding: 30px;
}

.paddingText {
    padding: 30px;
}

.googleMaps {
    width: 500px;
}