@import "variables";

@mixin height ($height) {
    height: $height;
}

.img-container {
    position: relative;
    .titleImage2 {
        position: absolute;
        margin: 10px;
        z-index: 10;
        color: #E49BC4;
        bottom: 20px;
        font-size: map-get($fontSizes, 25px);
        letter-spacing: 5px;   
        font-weight: bold;
    }
    .someText {
        @extend .titleImage2;
        bottom: 0;
        font-size: map-get($fontSizes, 15px);
        color: white;
        letter-spacing: 0px;
    }
}

.image {
    width: 100%;
    object-fit: cover;
    @include height(450px);
    padding: 5px;
}

.opacity {
    opacity: 80%;
}

.subtitle1 {
    text-align: center;
    color: white;
    font-size: map-get($fontSizes, 20px);
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 5px;
    font-weight: bold;
}

.p1 {
    text-align: center;
    color: white;
    font-size: map-get($fontSizes, 15px);
    font-weight: bold;
}

.p2 {
    @extend .p1;
    margin-bottom: 30px;
}

.searchContainer {
    display: flex;
}

.searchButton{
    color: white;
    border-color: white;
    font-weight: bold;
}

.form-control {
    border-color: white;
    font-weight: bold;
}


.centerForm {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

@media screen and (max-width:768px) {
    .image {
        @include height(300px);
    }
}

@media screen and (max-width:320px) {
    .image {
        @include height(200px);
        padding: 3px 0;
    }
    .someText {
        font-size: map-get($fontSizes, 13px);
    }
    .navbar {
        justify-content:center;
        display: grid;
    }
}
