@import "variables";

@mixin height ($height) {
    height: $height;
}
main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.img-container {
    position: relative;
    .titleImage2 {
        position: absolute;
        margin: 10px;
        z-index: 10;
        color: #E49BC4;
        bottom: 20px;
        font-size: map-get($fontSizes, 25px);
    }
    .someText {
        @extend .titleImage2;
        bottom: 0;
        font-size: map-get($fontSizes, 15px);
        color: white;
    }
}

.image {
    width: 100%;
    object-fit: cover;
    @include height(450px);
}

.opacity {
    opacity: 80%;
}

.subtitle1 {
    color: white;
    font-size: map-get($fontSizes, 30px);
    margin: 40px;
}

.p1 {
    color: white;
    font-size: map-get($fontSizes, 15px);
    margin: 40px;
}
.searchContainer {
    display: flex;
    .searchButton{
        color: white;
        border-color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

@media screen and (max-width:768px) {
    .image {
        @include height(300px);
    }
}

@media screen and (max-width:320px) {
    .image {
        @include height(200px);
        padding: 3px 0;
    }
    .someText {
        font-size: map-get($fontSizes, 13px);
    }
    .navbar {
        justify-content:center;
        display: grid;
    }
}
