@import "variables";
@import "index";
@import "contact";
@import "catalogo";
@import "blog";

html {
	font-size: 62.5%;
}

body {
    background:#E49BC4;
    }

ol, ul {
    padding-left: 0;
}
.size {
    font-size: map-get($fontSizes, 15px);
}
.centerText {
        text-align: center;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 4s;
  }

ul {
    list-style: none;
    font-weight: bold;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    display: inline-block;
    position: relative;
    padding: 10px;
    text-decoration: none;
}

.logoContainer{
    display: flex;
    justify-content: center;
}

.logo {
    width: 160px;
    position: relative;   
}

@media screen and (max-width:320px) {
    ul {
        list-style: none;
    }
    li {
        display: block;
        position: relative;
    }
}