@import "variables";
@import "index";
@import "contact";
@import "catalogo";
@import "blog";
@import "carrito";

html {
	font-size: 62.5%;
}

.row {
    --bs-gutter-x: 0rem;
}

body {
    background:#E49BC4;
    font-family: 'Montserrat', sans-serif;
}

ol, ul {
    padding-left: 0;
}

footer ul li {
    padding: 1px;
}

.btn-primary {
    background-color:white;
    color:#E49BC4;
    border-color: #E49BC4;
    border-style: groove;
    font-weight: bold;
    width: 300px;
    font-size: 15px;
}

.btn:hover {
    background-color: #E49BC4;
    color:white;
    border-color: white;
}


.centerText {
    text-align: center;
}

.white {
    border-top: 5px solid white;
}

.size {
    font-size: map-get($fontSizes, 15px);
}

.icon {
    font-size: 20px;
    padding: 10px;
    color:#E49BC4;
}

footer {
    background-color: white;
    .footerTitle {
        text-align: center;
        color:#E49BC4;
        padding: 10px;
        font-weight: bold;
        font-size: map-get($fontSizes, 20px);
    }

    .footerText {
        @extend .footerTitle;
        padding: 0px;
        font-size: map-get($fontSizes, 15px);
    }
    
    .footerCopyright {
    text-align: center;
    color: black;
    margin-top: 20px;
    font-weight: bold;
    font-size: map-get($fontSizes, 10px);
    }
}

.animate__animated.animate__fadeIn {
    --animate-duration: 4s;
  }

ul {
    list-style: none;
    font-weight: bold;
    text-align: left;
}

li {
    display: inline-block;
    position: relative;
    padding: 10px;
    text-decoration: none;
}

.logoContainer{
    display: flex;
    justify-content: center;
}
.cartContainer {
    display: flex;
    justify-content:flex-end;
    margin-right: 15px;
    .cart {
    font-size: 20px;
    padding: 10px; 
    color: white;
    }
}

.logo {
    width: 160px;  
}

@media screen and (max-width:425px) {
    ul {
        list-style: none;
    }
    li {
        display: block;
        position: relative;
    }
}