@import "index";

.html {
	font-size: 62.5%;
}

body {
    background-image: linear-gradient(#E2ACD0, rgb(223, 201, 205));
    }

.animate__animated.animate__fadeIn {
    --animate-duration: 4s;
  }

ul {
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li {
    display: inline-block;
    position: relative;
    padding: 10px;
    text-decoration: none;
}

.logo {
    width: 160px;
    position: relative;
    left: 45%
}